html {
	margin: 0 auto;
}

body {
	margin: 0 auto;
	background: #1B191F;
}

@media (min-width: 1200px){
  body {
    zoom: 0.66667;
  }
}

@media (min-width: 1400px){
  body {
    zoom: 0.75;
  }
}

@media (min-width: 1500px){
  body {
    zoom: 0.8;
  }
}

@media (min-width: 1900px) {
  body {
    zoom: 1;
  }
}

.container {
	position: absolute;
	display: none;
	width: 1920px;
	height: 900px;
}

#background {
	position: absolute;
	top: -100px;
	transform: scale(0.8, 0.8);
	z-index: -1;
}

#nav {
	position: absolute;
	top: 530px;
}

#back_img {
	position: relative;
	transform: scale(0.8, 0.8);
	top: 210px;
	left: 240px;
	z-index: 2;
}

#continue_img {
	position: relative;
	top: 35px;
	left: 1030px;
}

#back {
	position: absolute;
	width: 403px;
	height: 61px;
	background: #002E73;
	top: 219px;
	left: 237px;
	z-index: 1;
}

#setup {
	position: absolute;
	width: 1100px;
	height: 500px;
	left: 21.3%;
	top: 21%;
	z-index: 3;
}

.card {
	display: inline-block;
	position: relative;
	width: 230px;
	height: 450px;
	margin: 15px 20px;
	background: white;
	transition: transform 0.3s;
	border: 5px solid black;
}

.card::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	content: "";
	opacity: 0;
	z-index: -1;
}

.card:hover, .card:focus {
	transform: scale3d(1.01, 1.01, 1);;
}

.card:hover::after, .card:focus::after {
	opacity: 1;
}

#ship_ab {
	border-color:#FFA000;
}

#ab {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: -40px;
	top: -50px;
}

#cd {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: -40px;
	top: -50px;
}

#ef {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: -40px;
	top: -50px;
}

#back1_img {
	display: none;
	position: absolute;
	transform: scale(0.8, 0.8);
	top: 210px;
	left: 210px;
	z-index: 2;
}

#start_nav {
	position: absolute;
	top: 505px;
	left: 1000px;
}

#start {
	position: absolute;
	width: 435px;
	height: 70px;
	background: #AB000D;
	top: 222px;
	left: 253px;
	z-index: 1;
}

#start_img {
	position: absolute;
	transform: scale(0.8, 0.8);
	top: 207px;
	left: 225px;
	z-index: 2;
}

#start_bar {
	position: absolute;
	transform: scale(0.8, 0.8);
	top: 203px;
	left: 170px;
}

#pause {
	position: absolute;
	display: none;
	z-index: 9;
}

#pause_img {
	position: absolute;
	transform: scale(0.8, 0.8);
	z-index: 5;
	top: -100px;
}

#resume_img {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: 745px;
	top: 368px;
	z-index: 7;
}

#resume_square {
	position: absolute;
	background: #0068B7;
	width:348px;
	height: 64px;
	left: 786px;
	top: 377px;
	z-index: 6;
}

#exit_img {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: 775px;
	top: 463px;
	z-index: 7;
}

#exit_square {
	position: absolute;
	background: #003567;
	width:303px;
	height: 42px;
	left: 809px;
	top: 473.5px;
	z-index: 6;
}

#complete {
	position: absolute;
	display: none;
	z-index: 9;
}

#end_img {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: 500px;
	top: 200px;
}

#failed {
	position: absolute;
	display: none;
	z-index: 9;
}

#failed_img {
	position: absolute;
	transform: scale(0.8, 0.8);
	left: 600px;
	top: 250px;
}

#game {
	position: absolute;
	visibility: hidden;
	width: 1910px;
	height: 890px;
	border: 2px solid white;
	z-index: 1;
}